<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="offset-md-1 row pt-5">
        <div class="col-xs-6 col-md-4 mb-5">
            <div>
                <h4 class="font-weight-semi-bold text-primary mb-4">İletişim</h4>
                <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>123 Caddesi, Güngören, İstanbul</p>
                <p><i class="fa fa-phone-alt text-primary mr-2"></i>+90 553 221 9407</p>
                <p><i class="fa fa-envelope text-primary mr-2"></i>kraltalha@indiGo.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 mb-5 d-flex flex-column justify-content-center">
            <a asp-action="Index" class="navbar-brand">
                <h1 class="m-0 mt-n3 display-4 text-primary">indiGo</h1>
            </a>
        </div>
        <div class="offset-md-1"></div>
        <div class="col-xs-6 col-md-4 mb-5">
            <div>
                <h4 class="font-weight-semi-bold text-primary mb-4">Hakkımızda</h4>
                <p>
                    indiGo 2022 yılında kurulan, dünyanın en iyi servis hizmet sağlayıcısı olarak tescilli bir şekilde hizmet veren bir servis firmasıdır. Bulabileceğiniz en iyi doğalgaz, elektrik ve su tesisat servisi. Ver yetkiyi gör etkiyi. Tüm servis hizmetlerinin dolandırıcı olduğu böyle bir dönemde kalitesi hizmetin bir numaralı adresi olmaktan gurur ve onur duyuyoruz. <br>
                    Servisçiler bir ülkenin can damarıdır. <br>
                    <strong>-Mustafa Kemal Atatürk</strong>
                </p>
            </div>
        </div>
    </div>
</div>