@model ChangePasswordViewModel

<div style="padding-bottom: 13%">
    <div class="container mt-5 pt-5">
        <div class="row">
            <partial name="Partials/_ProfileLeftMenu" />
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5 pl-5">
                <h3 class="pb-4">Şifre Değiştir</h3>
                <form class="row" asp-controller="Account" asp-action="ChangePassword">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input class="form-control" asp-for="CurrentPassword" required="">
                        </div>
                        <span asp-validation-for="CurrentPassword" class="text-sm text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input class="form-control" asp-for="NewPassword">
                        </div>
                        <span asp-validation-for="NewPassword" class="text-sm text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NewPasswordConfirm"></label>
                            <input class="form-control" asp-for="NewPasswordConfirm">
                        </div>
                        <span asp-validation-for="NewPasswordConfirm" class="text-sm text-danger"></span>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-primary" type="submit">Şifre Değiştir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    if ("@TempData["status"]" == "success") {
        toastr.success("Şifre başarıyla değiştirildi.");
    }else if ("@TempData["status"]" == "error") {
        toastr.success("Bir hata oluştu.");
    }
</script>
